<section id="contact" class="container">
  <h1>Contact</h1>
  <p>Get in touch if you'd like to list your couch, or get involved in the Queer CouchSafe project.</p>
  <form action="https://formspree.io/msmichellegar@gmail.com"
      method="POST">
    <input type="text" name="email" placeholder="Email" value="" required>
    <input type="text" name="message" placeholder="Message" value="" required>
    <input class="btn waves-effect waves-light btn-contact" type="submit" name="action">
  </form>
</section>
{{> footer}}
