<section class="container">
  <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{listing.listing_img}}>
      <span class="card-title">{{listing.title}}</span>
    </div>
    <div class="card-content">
      <img class="profile_img" src={{listing.profile_img}} alt="Profile Image" />
      <p class="card-title activator grey-text text-darken-4">{{listing.description}}<i class="material-icons right">more_vert</i></p>
    </div>
    <div class="card-action">
      <a href="#">Get in touch!</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{{listing.description}}</p>
      <p>{{listing.email}}</p>
      <p>{{listing.city}}</p>
    </div>
  </div>
</section>
{{> footer}}
