<section class="container">
  <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{listing.listing_img}}>
      <p class="card-title card-heading">{{listing.title}}</p>
    </div>
    <div class="card-content details">
      <img class="profile-img circle" src={{listing.profile_img}} alt="Profile Image" />
      <p class="card-title activator grey-text text-darken-4">{{listing.description}}</p>
      <button class="activator btn-listings waves-effect waves-light btn">More Details</button>
    </div>
    <div class="card-action">
      <a href="mailto:{{listing.email}}">Get in touch!</a>
    </div>
    <div class="card-reveal">
      <p class="card-title grey-text text-darken-4 listing-title">{{listing.title}}<i class="material-icons right">close</i></p>
      <h3>Host</h3>
      <p>{{listing.first_name}} {{listing.last_name}}</p>
      <h3>Contact</h3>
      <p>{{listing.phone}}</p>
      <p>{{listing.email}}</p>
      <h3>Description</h3>
      <p>{{listing.description}}</p>
      <h3>Address</h3>
      <p>{{listing.address}}</p>
      <p>{{listing.city}}</p>
      <p>{{listing.post_code}}</p>
      <h3>Availability</h3>
      <p>{{listing.availability}}</p>
    </div>
  </div>
</section>
{{> footer}}
