body {
  background-color: $background-color-grey;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #222;
}

main {
  min-height: 100%;
}

a {
  color: #222;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
  font-weight: 200;
}

p {
  font-size: 18px;
}
