body {
  background-color: #EDEFED;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #222; }

main {
  min-height: 100%; }

a {
  color: #222; }

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px; }

h3 {
  font-size: 24px;
  font-weight: 200; }

p {
  font-size: 18px; }

.landing-image-wrapper {
  background-image: url(../assets/landingBG.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 92vh;
  max-height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.center-square {
  text-align: center;
  width: 600px;
  height: 400px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 13px 13px 13px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.center-square p {
  color: #437461;
  font-size: 18px;
  margin: 0; }

.center-square p:first-of-type {
  font-size: 30px; }

.btn-listings {
  background-color: #EDEFED !important;
  z-index: 4;
  color: #437461 !important;
  margin-top: 15%; }

.card.horizontal .card-image {
  max-width: 33%; }
  .card.horizontal .card-image img {
    height: 250px;
    width: 50em; }

.large.large {
  height: 1000px;
  margin-top: 3em; }
  @media (max-width: 600px) {
    .large.large {
      height: 800px; } }

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 100%; }

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  overflow: visible; }

.card .card-title.listing-title {
  font-size: 3em; }

.card-content.details {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%; }
  @media (min-width: 1000px) {
    .card-content.details {
      flex-wrap: nowrap; } }

.profile-img {
  width: 10vh;
  height: 10vh;
  margin: 20px; }

.card-title.card-heading {
  background-color: #88C376;
  padding: 1em;
  width: 100%; }

.card .card-reveal {
  z-index: 4; }
  .card .card-reveal h3 {
    color: #88C376; }

.card .card-image .card-title {
  margin: 0; }

.card .card-content .card-title {
  font-size: 20px;
  line-height: 1.2;
  margin-left: 20px; }

@media (max-width: 500px) {
  .card.horizontal .card-image {
    max-width: 100%; } }

.card.horizontal {
  flex-wrap: wrap; }

#about {
  min-height: 70vh; }

.btn-contact {
  background-color: #88C376 !important;
  color: #FAFAFA !important; }

#contact {
  min-height: 70vh; }

#contact p {
  text-align: center;
  padding-bottom: 30px; }

nav {
  background-color: #88C376 !important; }

nav .brand-logo {
  letter-spacing: 2px;
  font-size: 1.4rem !important;
  padding-left: 2vw !important;
  font-weight: 200; }

.about-btn {
  padding-right: 1vw !important; }

.menu-btn {
  padding: 0 1em; }

.side-nav li {
  border-bottom: 2px solid #88C376; }

.side-nav a {
  color: #fff; }

.side-nav.right-aligned {
  background-color: #88C376; }

.btn-nav {
  margin-top: 0;
  background-color: #88C376; }

.heart {
  color: #fff;
  text-align: center; }

footer.page-footer {
  margin-top: 60px;
  background-color: #88C376; }

.listing-image {
  width:50%
  margin: 0 auto:
}

/*# sourceMappingURL=main.css.map */
