
.landing-image-wrapper {
  background-image: url(../assets/landingBG.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 92vh;
  max-height:100%;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-square {
  width: 600px;
  height: 400px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 13px 13px 13px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center-square p {
  color: $headers;
  font-size: 18px;
  margin: 0;
}

.center-square p:first-of-type {
  font-size: 30px;
}

.btn-listings {
  background-color: $background-color-grey!important;
  z-index: 4;
  color: $headers!important;
  margin-top: 15%;
}
