nav {
  background-color: $nav-bar-color !important;
}

nav .brand-logo {
  letter-spacing: 2px;
  font-size: 1.4rem !important;
  padding-left: 2vw !important;
  font-weight: 200;
}

  .btn-nav {
    margin-top: 0;
    background-color: $nav-bar-color;
  }
