nav {
  background-color: $nav-bar-color !important;
}

nav .brand-logo {
  letter-spacing: 2px;
  font-size: 1.4rem !important;
  padding-left: 2vw !important;
  font-weight: 200;
}

.menu-btn {
  padding: 0 1em;
}

.side-nav li {
  border-bottom: 2px solid $nav-bar-color;
}

.side-nav a {
  color: #fff;
}

.side-nav.right-aligned {
  background-color: $nav-bar-color;
}

.btn-nav {
  margin-top: 0;
  background-color: $nav-bar-color;
}
